body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Light grey background */
    color: #495057; /* Dark grey text */
}

.navbar {
    background-color: #e83e8c; /* Pink navbar */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #495057 !important; /* Dark grey text for navbar links */
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff !important; /* White text for active link */
}

.navbar-toggler-icon {
    background-color: #fff; /* White color for the navbar toggler icon */
}

.container {
    background-color: #fff; /* White background for content container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.dashboard-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa; /* Light grey background for sections */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #e83e8c; /* Pink button */
    border-color: #e83e8c; /* Pink button border */
}

.btn-primary:hover {
    background-color: #d9534f; /* Darker pink on hover */
    border-color: #d9534f; /* Darker pink border on hover */
}

h1, h2, h3, h4, h5, h6 {
    color: #e83e8c; /* Pink headings */
}

label {
    color: #495057; /* Dark grey label text */
}

input[type="text"] {
    border: 1px solid #ced4da; /* Light grey border for input */
}

#weatherData {
    background-color: #fff; /* White background for weather data */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.article-container {
    background-color: #fff; /* White background for articles container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.article {
    background-color: #f8f9fa; /* Light grey background for individual articles */
    border: 1px solid #ced4da; /* Light grey border for articles */
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

#quote-container {
    background-color: #fff; /* White background for quote container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
